html {
    box-sizing: border-box;
    font-size:1rem;
}
:root {
    --container-side-length: 540px;
}
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;

}
.whole {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    gap:20px;
}

.outer {
    padding: 40px;
    background-color: coral;    
    
    width: calc(var(--container-side-length) + 2 * 40px + 2 * 25px);
    height: calc(var(--container-side-length) + 2 * 40px + 2 * 25px);
}
.modes {
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;

}
.buttonBar {
    display: flex;
    width: calc(var(--container-side-length) + 2 * 40px + 2 * 25px);
    height: calc(var(--container-side-length) / 5);
    justify-content: center;
    align-items: center;
    border: 2px solid green;
   /* font-size:2rem;*/
}
 button{
    font-size: inherit;

}
.inner {
    padding: 25px;
    background-color: burlywood;
    width: calc(var(--container-side-length) + 2 * 25px);
    height: calc(var(--container-side-length) + 2 * 25px);
}

#container {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    width: var(--container-side-length);
    height: var(--container-side-length);
    background-color: rgb(217, 217, 217,0.5);
}

.square {
    flex: none;
   /*  outline: 1px solid blue; */
}
#dialogMessage.flex {
    display: flex;
    width:100%;
    font-size:2rem;

}
.warning {
    background-color:  rgb(255, 255, 153);
}

.error {
    background-color:#d57676; /*or indianred;*/
    
}

.hidden {
    display: none;
}
dialog form {
    display: flex;
    flex-direction: column;
}